<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1.姓名案例_插值</title>
        <script type="text/javascript" src="../JS/vue.js"></script>
    </head>

    <body>
        <div id="root"> 
            姓 : <input type="text" v-model="firstname"> <br>
            名 : <input type="text" v-model="lastname"> <br>
            姓名 : <span>{{firstname.slice(0,3)}}-{{lastname}}</span>
        </div>

    </body>
    
    <script>
        Vue.config.productionTip = false
        
        new Vue ({
            el : "#root",

            data : {
                firstname : "张",
                lastname : "三"
            }
        })
    </script>
</html>