<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1.姓名案例_插值</title>
        <script type="text/javascript" src="../JS/vue.js"></script>
    </head>

    <body>
        <div id="root"> 
            姓 : <input type="text" v-model="firstName"> <br>
            名 : <input type="text" v-model="lastName"> <br>
            姓名 : <span>{{name}}</span>
        </div>

    </body>
    
    <script>
        Vue.config.productionTip = false
        
        const vm = new Vue ({
            el : "#root",

            data : {
                firstName : "张",
                lastName : "三",
            },

            computed : {
                // 计算属性
                name : {
                    get() {
                        // 调用时机
                        // 1.初次读取name时
                        // 2.所依赖的数据发生变化时
                        return this.firstName + '-' + this.lastName
                    },

                    set(value) {
                        // 调用时机
                        // name被修改时
                        let arr = value.split('-')
                        this.firstName = arr[0]
                        this.lastName = arr[1]
                    }
                }
            }
        })
    </script>
</html>